body {
    background-color: rgb(175, 148, 118);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.parrafo-div{
    background-image: linear-gradient(to right, rgb(126, 117, 117), rgb(49, 36, 21));
    color: rgb(0, 0, 0);
    
}

.mover-elemento{
      
    animation-name: moverElemento;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10seg;
    animation-delay: 5seg;
  
}

